# gitconfig template file.
#
# please change this file to match your local settings
# this file must be put on your home folder with .gitconfig ($HOME/.gitconfig)
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	st = status
    	di = diff
    	dt = difftool
	cp = cherry-pick
	type = cat-file -t
	dump = cat-file -p
	pushit = push -u origin HEAD
	pushf = push -f
    	glog = !"git --no-pager log --all --color=always --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' | less -r -X +/[^/]HEAD"
[includeIf "gitdir:~/projects/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/git/"]
    path = .gitconfig-work
[push]
	default = simple
[gui]
	fontui = -family \"DejaVu Sans\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Hack -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 4
	gcwarning = false
	fastcopyblame = true
[remote "origin"]
        prune = true
[diff]
  tool = ij
[difftool]
  prompt = false
[difftool "ij"]
  cmd = "$IDEA_HOME/bin/idea-pause.sh" diff $LOCAL $REMOTE
  keepbackup = false
  trustexitcode = false
[merge]
  tool = ij
[mergetool]
  prompt = false
[mergetool "ij"]
  cmd = "$IDEA_HOME/bin/idea-pause.sh" merge $LOCAL $REMOTE $BASE $MERGED
  keepbackup = false
  trustexitcode = false
[push] 
	default = simple
[pull]
	ff = only
[core]
	editor = 'vim'
